<%-include("~admin-header.ejs")%>

    <div class="main-content">
        <h1>Programs and Activities</h1>
        <a href="/auth/programs/add" class="w-btn w-btn-primary w-btn-sm">
            <i class="fa-solid fa-plus"></i>
            Add Programs</a>
        <div>
            <p>This page shows a list of the programs that Dolphin Cove currently offers. </p>
            <p>You as the Staff for our Company has the option to add a program to our programs list as well as remove a programs if the situation requires it. Remember, with great power comes great responsibility. </p>
        </div>
        <ul>
            <% programs.forEach((program)=>{ %>
                <li><a href="/auth/programs/edit/<%= program.program_id%>"><%= program.program%></a></li>
            <%})%>

        </ul>
    </div>
      
<%-include("~admin-footer.ejs")%>