<%- include("~header.ejs")%>
<section class="home">
    <div class="w-box hero-section">
        <img src="/static/IMG/dolphincoveja-banner.jpg" alt="">
    </div>

    <div class="content-aware">
        <h2 class="fp">Welcome to Dolphin Cove</h2>

        <div class="grid-two">
            <div>
                <p>
                    Did you know that swimming with dolphins is considered one of the top 10 bucket list items? When you come to Dolphin Cove Jamaica you not only get a chance to live this dream; you have the opportunity to knock off a few more, like ride a camel and interact with stingrays. Here a place where you come for the day but remember for a lifetime.
                </p>
                <p>
                    One of the many things that make Dolphin Cove Jamaica special is that you can live the experience of swimming with dolphins in the natural Caribbean Sea. Here you have the opportunity to enjoy the company of different fish, rays, and other forms of natural sea life. Dolphin Cove Jamaica is the place to spend the day enjoying lots of fun activities. There is truly something for everyone!
                </p>
                <p>
                    Dolphin Cove Jamaica is full of natural wonders and beauty you gotta see for yourself! In Dolphin Cove Ocho Rios you’ll enjoy strolling around in the Jungle Trail, where you will notice many different wild animals, plants, and trees. At Dolphin Cove Jamaica we respect the environment of all the species, here you will live the most natural experience you’ve ever had.
                </p>
            </div>
            <div class="curved-img">
                <img src="static/IMG/Dolphins-Cove-Pic-1.jpg" alt="image of a dolphin">
            </div>
        </div>
    </div>


    <div class="content-aware">
        <h2 class="fp">Discover our Swim with Dolphin Programs</h2>

        <div class="card-box">
            <div class="card">
                <img src="static/IMG/program-1.jpg" alt="image of on of the programs offered" class="card-img">
                <div class="card-body"></div>
            </div>
            <div class="card">
                <img src="static/IMG/program-2.jpg" alt="image of on of the programs offered" class="card-img">
                <div class="card-body"></div>
            </div>
            <div class="card">
                <img src="static/IMG/program-3.jpg" alt="image of on of the programs offered" class="card-img">
                <div class="card-body"></div>
            </div>

        </div>
    </div>

</section>
<%- include("~footer.ejs")%>
