<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/admin.css">
    <script src="https://kit.fontawesome.com/0c457f3766.js" crossorigin="anonymous"></script>
    <title>Admin</title>
</head>
<body>
  
    <section>
        <div class="wrapper">
            <div class="sidebar">
                <ul>
                    <li class="logo"><a href="/"><img src="/static/IMG/dolphincovelogo.png" alt="Logo for dolphin cove"></a></li>
                    
                    <li><a href="/auth/bookings/">
                        <i class="fa-solid fa-book-open"></i>
                        Booking
                    </a></li>
                    <% if(session.isSuperAdmin) {%>
                    <li><a href="/auth/tourCompany">
                        <i class="fa-solid fa-bus-simple"></i>
                        Tour Companies
                    </a></li>
                    <% } %>
                    <li><a href="/auth/programs">
                        <i class="fa-solid fa-list-check"></i>
                        Programs
                    </a></li>
                    <li><a href="/auth/users">
                        <i class="fa-solid fa-users"></i>
                        Users
                    </a></li>
                    <li><a href="/auth/logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Logout
                    </a></li>
                </ul>
            </div>  
