
    <footer>
        <div class="content-aware">
            <div class="footer-top">
                <ul class="footer__nav">
                    <li><a href="#">Information</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                </ul>
                <div class="contact-info">
                    <div class="phone">
                        <p class="bold">Contact US</p>
                        <p class="h2 bold" style="margin: 10px 0">1-877-344-3385</p>
                    </div>
                    <div class="locations">
                        <p><span>Canada</span> 1-866-793-1905</p>
                        <p><span>United Kingdom</span> 1-866-793-1905</p>
                        <p><span>Mexico</span> 1-866-793-1905</p>
                        <p><span>Dominican Republic</span> 1-866-793-1905</p>
                        <p><span>United States</span> 1-866-793-1905</p>
                        <p class="mt-1"><a href="#">
                            <img src="/static/IMG/dd-logo.png" alt="Dolphin cove logo">
                        </a><a href="#">
                            <img src="/static/IMG/dc-logo.png" alt="Dolphin Cove logo">
                        </a></p>
                    </div>
    
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            www.dolphincoveja.com
        </div>
    </footer>
    <script src="static/JS/scripts.js"></script>
</body>
</html>