<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <link rel="icon" href="/static/IMG/favicon.png">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/0c457f3766.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="nav" role="navigation">
                <li class="nav__item">
                    <a href="/" class="nav__link logo">
                        <img src="/static/IMG/dolphincovelogo.png" alt="Dolphin Cove's logo" class="img-logo">
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="/about" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="/services" class="nav__link">Services</a>
                </li>
                <li class="nav__item">
                    <a href="/bookings" class="nav__link">Bookings</a>
                </li>
                <li class="nav__item right">
                    <a href="/auth/login" class="nav__link w-btn w-btn-primary">Login</a>
                </li>
            </ul>
        </nav>
    </header>
