body{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(239, 246, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#878585;

}

.nav{
    
    margin: 0;
    display: flex;
    align-items: center;

    width: 1400px;
    margin: auto;
}

nav{
    position: relative;
    z-index: 3;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.14);
    background-color: white;
}

.content-aware.section, .section{
    margin-top: 5rem;
    margin-bottom: 5rem;

}
/* nav{
    filter:drop-shadow(-1px 2px 3px rgba(50, 50, 0, 0.5));
} */
.img-logo{
    height: 70px;
}
.nav__item{
    list-style-type: none;
}
 
.nav__link.logo{
    margin-left: 0;
    padding: 5px 0;
}
.nav__link{
    display:inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: #203772;
    margin: 0 1rem;
    position:relative;
}
/* .nav__link:not(.logo, .w-btn)::after{
    content:"";
    position: absolute;
    background-color: #203772;
    height: 3px;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    transition: 400ms transform ease-in;
}
.nav__link:not(.logo, .w-btn):hover::after{
    transform: scaleX(1);
} */

.nav__link:not(.logo, .w-btn):hover{
    color:#878585
}
.w-btn{
    border-radius: 0 0 20px 0;
    border: none;
    padding: 8px 15px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background-color 300ms ease-in-out;
}

.fun-activities p{
    text-align: center;
    font-size: 1.4rem;
    padding: 3rem;
    font-weight: 600;
    line-height: 2rem;
}
.fun-activities ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:#878585;
    gap: 5px;
    font-weight: 600
}

.hero-section{
    position: relative;
    top: -20px;
}

.hero-section img{
    width: 100%;
}

.content-aware{
    width: 1400px;
    margin: auto;
}
.grid-two{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    font-size: 1.3rem;
    font-weight: 200;
    width: 100%;
}
.card-box{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 1;

}
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    overflow: hidden;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    border-radius: 0 0 30px 0;

}
.card-body{
    padding: 10px;
    background-color: #A96B41; 
    color: white;
    flex-grow: 1;

}
.card-header{
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;;

}

.curved-img img{
    height: auto;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.curved-img{
    border-radius: 0 0 30px 30px;
}
.loginForm{
    width: 400px;
    display: flex;
    flex-direction: column;
    /* border:1px solid #878585; */
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

    gap: 1rem;
}
.login-page{
    display: grid;
    place-items: center;
    height: 100vh;
}
.login-page .img{
    margin-bottom: 2rem;
    text-align: center;

}
.loginForm label{
    color:#203772;
    font-weight: 500;
}

.form-float-right{
    float:right;
}
.booking-page{
    margin: 3rem 0;
    display: flex;
    gap: 1rem;
}
legend{
    color: #203772;
    font-size: 2rem;
}
.booking-page h2{
    font-size: 2.4rem;
    color: #203772;

}
.booking-page p{
    font-size: 1.3rem;
    font-weight: 200;
}
.bookingForm{
    display:flex;
    margin: 2rem 0;
    flex-direction: column;
    padding: 2rem;
    width: 400px;
    gap: 1rem;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
 label{
    display: flex;
    flex-direction: column;
    color: #203772;
    font-weight: 500;
}
 input,select{
    height: 2rem;
    padding-left: 3px;
    flex-grow:1;
    border: 1px solid #878585;
    border-radius: 5px;
    transition: 300ms box-shadow linear;
}
input:focus,select:focus{
    outline: none;
    box-shadow: 0 0 5px 2px #2a71a77d
}


.form-group{
    display: flex;
    gap: 2rem;
    flex-grow:1;
    justify-content: space-between;

}
.activities{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* .form-group.activities input{
    width: 80px;
} */

label.inline-flex{
    flex-direction:row;
    gap: 1rem;
}

footer{
    background-color: #39a4ac;

}
.footer-top{
    display: flex;
    justify-content: space-between;
    color: white;
}
.footer-top ul{
    list-style-type: none;
}
.footer-top li{
    border-bottom: 1px solid rgba(245, 245, 245, 0.263);
    width: 30vw;
}

.footer-top ul a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px 0 ;
    width: 100%;
    color: inherit;
}
.footer-bottom{
    background-image: url("/static/IMG/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #39a4ac;
    background-position: top center;
    text-align: center;
    font-size: 1.8rem;
    padding: 10px;
    color: white;
}

.locations p{
    margin: 2px 0;
}
.locations p span{
    font-weight: bold;
}
.locations .mt-1{
    margin-top: 1rem;
}
.park-info{
    margin: 5rem 0;

}
.park-info .grid-two{
    grid-template-columns: 1fr 1fr;
    font-size: 1.3rem;
    font-weight: 200;
}
.park-info h3{
    margin: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
    color:#878585;
    font-weight: 500;

}
/* UTILITIES */

.right{
    margin-left: auto;
}
.w-btn-primary{
    background-color: #203772;
    color: white;
}
.w-btn-primary:hover{
    background-color: #323232
}
.w-btn-sm{
    font-size: .7rem;
}
.fp{
    color: #203772;
}
h2.fp{
    font-size: 3rem;
    /* text-align: center; */
}
.bold{
    font-weight: bold;
}
.h2{
    font-size: 1.5rem;
}
.flex{

}
*.mt-1{
    margin-top:1rem;
}

.gray{
   background-color:  #EFEEEE;
}