body{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(239, 246, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home{
    /* background-color: red;
    height: 80vh; */
}
/* .w-box{
    clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
    background-color: blue;
    height: 400px;
    width: 400px;
} */
.nav{
    
    margin: 0;
    display: flex;
    align-items: center;

    width: 1400px;
    margin: auto;
}

nav{
    position: relative;
    z-index: 3;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.14);
    background-color: white;
}
/* nav{
    filter:drop-shadow(-1px 2px 3px rgba(50, 50, 0, 0.5));
} */
.img-logo{
    height: 70px;
}
.nav__item{
    list-style-type: none;
}
 
.nav__link.logo{
    margin-left: 0;
    padding: 5px 0;
}
.nav__link{
    display:inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: #203772;
    margin: 0 1rem;
    position:relative;
}
/* .nav__link:not(.logo, .w-btn)::after{
    content:"";
    position: absolute;
    background-color: #203772;
    height: 3px;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    transition: 400ms transform ease-in;
}
.nav__link:not(.logo, .w-btn):hover::after{
    transform: scaleX(1);
} */

.nav__link:not(.logo, .w-btn):hover{
    color:#878585
}
.w-btn{
    border-radius: 0 0 20px 0;
    border: none;
    padding: 8px 15px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background-color 300ms ease-in-out;
}


.hero-section{
    position: relative;
    top: -20px;
}

.hero-section img{
    width: 100%;
}

.content-aware{
    width: 1400px;
    margin: auto;
}
.grid-two{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    width: 100%;
}
.card-box{
    display: flex;
    justify-content: space-between;;
}

.curved-img img{
    height: auto;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.curved-img{
    border-radius: 0 0 30px 30px;
}


.bookingForm{
    display:flex;
    flex-direction: column;
    padding: 2rem;
    width: 400px;
    gap: 1rem;
}
.bookingForm label{
    display: flex;
    flex-direction: column;
}
.bookingForm input, .bookingForm select{
    height: 1.8rem;
    flex-grow:1;
}


.form-group{
    display: flex;
    gap: 2rem;
    flex-grow:1;
    justify-content: space-between;

}
.form-group.activities input{
    width: 80px;
}

label.inline-flex{
    flex-direction:row;
    gap: 1rem;
}

/* UTILITIES */

.right{
    margin-left: auto;
}
.w-btn-primary{
    background-color: #203772;
    color: white;
}
.w-btn-primary:hover{
    background-color: #323232
}
.w-btn-sm{
    font-size: .7rem;
}
.fp{
    color: #203772;
}
h2.fp{
    font-size: 3rem;
    /* text-align: center; */
}